<div class="pinteresting_header">
    <div >
        <h1 class="pinteresting_logo">Pinteresting</h1>
    </div>
    <div  style="margin:1rem 0;">
        <a href="{% url 'articleapp:list' %}" class="pinteresting_header">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="pinteresting_header">
            <span>Projects</span>
        </a>
        <span class="pinteresting_header">nav3</span>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{request.path}}" class="pinteresting_header">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:create' %}" class="pinteresting_header">
            <span>SignUp</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="pinteresting_header">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{request.path}}" class="pinteresting_header">
            <span>logout</span>
        </a>
        {% endif %}
    </div>

</div>